/*****************************
FONTS
******************************/

@font-face {
  font-family: "lightHelvetica";
  src: url(../resources/HelveticaNeue-UltraLight.ttf);
}
@font-face {
  font-family: "thinHelvetica";
  src: url(../resources/HelveticaNeue-Thin.ttf);
}
@font-face {
  font-family: "boldHelvetica";
  src: url(../resources/HelveticaNeue-Bold.ttf);
}

/*****************************
ELEMENTS
******************************/

body, html {
  height: 100%;
  margin: 0;
  font-family: "thinHelvetica", sans-serif;
  font-weight: 200;
  font-size: 1em;
  color: #777;
  width: 100%;
  text-align: center;
}
body {
  overflow-x: hidden;
}
.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgimg-1 {
  min-height: 100%;
  z-index: 0;
}
.bgimg-2 {
  background-image: url("../img/background.jpg");
  min-height: 400px;
  z-index: 0;
}
.bgimg-3 {
  min-height: 400px;
  z-index: 0;
}

/*****************************
HEADER
******************************/

.arrowContainer {
  position: absolute;
  z-index: 100;
  bottom: 4vmin;
  width: 100%;
  margin: 0 auto;
}
.btnContainer {
  position: absolute;
  z-index: 100;
  bottom: 20vmin;
  width: 100%;
  margin: 0 auto;
}
.logoContainer {
  position: absolute;
  z-index: 100;
  bottom: 10vmin;
  width: 100%;
  margin: 0 auto;
}
.btnd:active, .btnd:focus, .btnd.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.btn-default {
  background: transparent !important;
  color: #FFF;
  border: 1px solid white;
  width: 130px;
  height: 60px;
  font-size: 1.2em;
}
.btn-default:hover {
  background-color: #FFF !important;
  -webkit-transition: background-color 0.5s ease, color 0.5s ease;
  /* Safari */
  transition: background-color 0.5s ease, color 0.5s ease;
  color: #000;
  border: 1px solid white;
}
a .scrollArrow {
  position: relative;
  width: 24px;
  height: 24px;
  color: #FFF;
  z-index: 100;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 1s infinite;
  animation: sdb04 1s infinite;
  box-sizing: border-box;
  text-align: center;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #000;
}

/*****************************
Q&A
******************************/

.circle {
  border-radius: 50%;
}
.iconContainer {
  width: 200px;
  height: 200px;
  background-color: #000;
  color: #FFF;
  border: 1px solid #000;
}
.feature:hover {
  background-color: #FFF;
  color: black;
  transition: background-color 0.4s ease;
}

/*****************************
Team Members
******************************/

.teamPos {
  font-size: 3.5vmin !important;
  font-weight: 100 !important;
  font-style: "lightHelvetica", sans-serif;
}
a:hover {
  text-decoration: none;
  color: #007fff;
}
.caption span.border {
  background-color: rgba(255, 255, 255, 0.4);
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 100;
  font-style: "thinHelvetica", sans-serif;
  border-radius: 150px;
}
h1, h2, h3, h4, h5, h6 {
  font: 4vmin "thinHelvetica", sans-serif;
  font-weight: 200;
}

/*****************************
Footer Elements
******************************/

.twitter {
  height: 60px;
  width: 60px;
  background-color: #1AB4EF;
  border-radius: 50%;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.twitter:hover {
  background-color: #1590BF;
  transition: background-color 0.3s ease;
}
.facebook {
  height: 60px;
  width: 60px;
  background-color: #3B5898;
  border-radius: 50%;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.facebook:hover {
  background-color: #324C85;
  transition: background-color 0.3s ease;
}
.instagram {
  height: 60px;
  width: 60px;
  background-color: #7F4232;
  border-radius: 50%;
  font-size: 22px;
  display: inline-block;
  text-align: center;
  margin-right: 20px;
}
.instagram:hover {
  background-color: #663528;
  transition: background-color 0.3s ease;
}
.social-media i {
  margin-top: 20px;
  color: white;
}

/*****************************
Menu
******************************/

#menuBtn {
  cursor: pointer;
}
.menuContainer {
  background: black;
  padding-top: 25px;
  padding-left: 12px;
  position: fixed;
  z-index: 100;
  right: 1em;
  top: 1em;
  width: 60px;
  height: 60px;
}
.sidebarContainer {
  background-color: #0078D7;
  padding: 10px;
  position: fixed;
  z-index: 100;
  height: 100vh;
  right: -50%;
  top: 0em;
  width: 25%;
  border-radius: 5px 0px 0px 5px;
  box-shadow: -5px 0px 20px black;
  color: #FFF;
}
.sidebarContainer ul {
  margin-top: -42vh;
  list-style: none;
}
.sidebarContainer ul li {
  padding: 25px;
  background-color: #006abc;
  font-size: 1.5em;
  text-align: center;
}
.sidebarContainer ul li:hover {
  background-color: #004f8c;
  cursor: pointer;
}
.sidebarContainer ul a {
  color: #FFF;
  text-decoration: none;
}
#sidebarCircle {
  background: #0078D7;
  width: 60px;
  height: 80px;
  margin-left: -40px;
  margin-top: 42vh;
  cursor: pointer;
}
#sidebarCircle i {
  vertical-align: middle;
  line-height: 80px;
  color: #FFF;
  font-size: 1.2em;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
.nav-toggle span:before {
  top: -10px;
}
.nav-toggle span:after {
  bottom: -10px;
}
.nav-toggle span, .nav-toggle span:before, .nav-toggle span:after {
  transition: all 500ms ease-in-out;
}
.nav-toggle.active span {
  background-color: transparent;
}
.nav-toggle.active span:before, .nav-toggle.active span:after {
  top: 0;
}
.nav-toggle.active span:before {
  transform: rotate(45deg);
}
.nav-toggle.active span:after {
  transform: rotate(-45deg);
}
.diagonal {
  background: #FCFDFF;
  position: relative;
  z-index: 1
}
.diagonal:after, .diagonal:before {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  -webkit-backface-visibility: hidden
}
.diagonal:before {
  top: 0;
  transform: skewY(3deg);
  transform-origin: 100%
}
.diagonal:after {
  bottom: 0;
  transform: skewY(-3deg);
  transform-origin: 100%
}
table tr {
  height: 30px;
  font-size: 1.3em;
}
.teamPhoto {
  box-shadow: 5px 0px 20px black;
  z-index: 200;
}
.teamPhoto:hover {
  margin-top: -10px;
  transition: margin-top 0.4s ease;
  cursor: pointer;
}
.overlay {
  display: none;
  background: rgba(0, 0, 0, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  top: -100vh;
}

#closeOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
  margin-bottom: 0;
  text-align: center;
  color: #FFF;
}

#closeOverlay a {
  position: relative;
  font-size: 3em;
  text-align: right;
  float: right;
  margin-right: 50px;
  margin-top: 2em;
  color: #FFF;
  z-index: 2;
}

#closeOverlay a:hover {
  cursor: pointer;
}
